@model IEnumerable<ProofOfConcept.Models.Photos>

    <div class="col-lg-12">
        @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center" style="padding:10px 10px 10px 10px;height:20%" id="@item.PhotoID">
            <div class="col-lg-12 col-md-12 col-sm-12 thumbnail img-responsive text-center">
                <img src="@item.PhotoPath" style="width:inherit" />
            </div>
            <div id="stats">
                <span>@Html.DisplayFor(modelItem => item.Loves)</span>
                @{ var UserId = ViewBag.UserId.ToString();
                if (item.LovedBy.IndexOf("," + UserId + ",") > -1)
                {
                    <span class="glyphicon glyphicon-heart" style="color:hotpink"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-heart-empty" style="color:hotpink"></span>}
                }|
                <span>@Html.DisplayFor(modelItem => item.Likes)</span>
                @{ if (item.LikedBy.IndexOf("," + UserId + ",") > -1)
                {
                    <span class="glyphicon glyphicon-thumbs-up" style="color:green;font-weight:bold"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-thumbs-up" id="@item.PhotoID"></span>}
                }|
                <span>@Html.DisplayFor(modelItem => item.Dislikes)</span>
                @{
                if (item.DisLikedBy.IndexOf("," + UserId + ",") > -1)
                {
                    <span class="glyphicon glyphicon-thumbs-down" style="color:red;font-weight:bold"></span>}
            else
            {
                <span class="glyphicon glyphicon-thumbs-down"></span>}
                }
            </div>
        </div>
}
    </div>
    <script src="~/Scripts/Uploads.js"></script>
