@model ProofOfConcept.Models.Photos
<div class="col-lg-12 col-md-12 col-sm-12 thumbnail img-responsive text-center">
    <img src="@Model.PhotoPath" style="width:inherit" />
</div>
<div id="stats">
    <span>@Html.DisplayFor(modelItem => Model.Loves)</span>
    @{ var UserId = ViewBag.UserId.ToString(); }
    <span class="glyphicon @((Model.LovedBy.IndexOf("," + UserId + ",") > -1)?"glyphicon-heart":"glyphicon-heart-empty") " style="color:hotpink"></span>
    |
    <span>@Html.DisplayFor(modelItem => Model.Likes)</span>
    <span class="glyphicon glyphicon-thumbs-up @((Model.LikedBy.IndexOf("," + UserId + ",") > -1)?"liked":"")"></span>
    |
    <span>@Html.DisplayFor(modelItem => Model.Dislikes)</span>
    <span class="glyphicon glyphicon-thumbs-down @((Model.DisLikedBy.IndexOf("," + UserId + ",") > -1)?"disliked":"")"></span>
</div>