@model ProofOfConcept.Models.Photos


@using (Html.BeginForm("Upload", "Photos", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Photos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @ViewBag.Status
        <div class="form-group">
            @Html.LabelFor(model => model.PhotoPath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("picture", "", htmlAttributes: new { @class = "Required", type = "file", id = "picfield" })
                @Html.ValidationMessageFor(model => model.PhotoPath, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Caption, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Uploads", "Uploads")
</div>
<div>
    <h6>Picture Preview</h6>
    <span id="previewfield"></span>
</div>

<script>
    $('#picfield').change(function () {
        if (this.files && this.files[0]) {
            $('#previewfield').html("<img src=" + $('#picfield').val() + " id='picpreview'alt='Picture Preview' width='200vh' / >");
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#picpreview').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
